body {
  background-color: #e12301;
}

h1 {
  text-align: center;
}

h1, h2, h3{
  color:#ce0000;
  font-family: impact;
}

hr {
  border:0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

footer {
  font-size: x-small;
  text-align: center;
  color: #e1d800;
  margin-top: 1rem;
}

.titleImg{
  display: none;
}

.headerRow {
  margin: 1rem;
}

h3 button.btn-primary {
  font-family: sans-serif;
  margin-left: 2rem;
}

.container {
  background-color: #fffa8a;
  font-weight: bold;
  margin-top: 2rem;
}

.pizzaOutput {
  margin-bottom: 1rem;
}

.pizzaNPrice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
}

.toppings {
  font-size: small;
  font-style: italic;
  width: 90%;
  margin: 2px auto;
}

.footnote {
  font-size: x-small;
  text-align: center;
  margin-top: 1rem;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

#orderSummary, #deliveryOrder p{
  font-size: x-large;
  text-align: center;
}

#checkedOut, #orderWarning, #userAddressGroup, #deliveryOrder {
  display: none;
}

#deliveryStatus {
  list-style-type: none;
}

#carryoutOrder {
  margin-bottom: 2rem;
}

#refund {
  color: 	#e12301;
  font-weight: bold;
  cursor: pointer;
}

#refund:hover {
  color: #ce0000;
  text-decoration: underline;
}

/* media queries */
@media screen and (min-width: 768px){
  .titleImg {
    display: block;
  }
}

@media screen and (min-width: 992px){
  .headerRow{
    width: 80%;
    margin: 2rem auto;
  }
}
