h1 {
  text-align: center;
}

hr {
  border:0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

footer {
  font-size: x-small;
  text-align: center;
  margin-top: 1rem;
}

.titleImg{
  display: none;
}

.headerRow {
  margin: 1rem;
}

h3 button.btn-primary {
  font-family: sans-serif;
  margin-left: 2rem;
}

.container {
  font-weight: bold;
  margin-top: 2rem;
}

.pizzaOutput {
  margin-bottom: 1rem;
}

.pizzaNPrice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
}

.toppings {
  font-size: small;
  font-style: italic;
  width: 90%;
  margin: 2px auto;
}

.footnote {
  font-size: x-small;
  text-align: center;
  margin-top: 1rem;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

#orderSummary, #deliveryOrder p{
  font-size: x-large;
  text-align: center;
}

#checkedOut, #orderWarning, #userAddressGroup, #deliveryOrder, #premiumWarning {
  display: none;
}

#deliveryStatus {
  list-style-type: none;
}

#carryoutOrder {
  margin-bottom: 2rem;
}

#refund {
  color: 	#e12301;
  font-weight: bold;
  cursor: pointer;
}

#refund:hover {
  color: #ce0000;
  text-decoration: underline;
}

/*********************
 Branch Color Schemes
***************8*****/
/* Space Branch */
body.space {
  background-color: #15317e;
  color: white;
}

.space .container {
  background-color: #0c090a;
  padding: 1rem 2rem;
}

.space footer {
  color: 	#98afc7;
}

.space h1, .space h2,.space h3{
  color: 	#7d0541;
  font-family: 'Baloo Chettan', cursive;;
}

/* Ocean Branch */
body.undersea {
  background-color: #3a96db;
  color: white;
}

.undersea .container {
  background-color: #14a59a;
  padding: 1rem 2rem;
}

.undersea footer {
  color: #364be3;
}

.undersea h1, .undersea h2,.undersea h3{
  color: #364be3;
  font-family: 'Indie Flower', cursive;
}

/* Fantasy Branch */
body.fantasy {
  background-color: #541e16;
  color: #295128;
}

.fantasy .container {
  background-color: #e5eec5;
  padding: 1rem 2rem;
}

.fantasy footer {
  color: #e5eec5;
}

.fantasy h1, .fantasy h2,.fantasy h3{
  color: #db8b97;
  font-family: 'MedievalSharp', cursive;
}

/* Regular/Generic Branch */
body.regular {
  background-color: #e12301;
}

.regular .container {
  background-color: #fffa8a;
}

.regular footer {
  color: #e1d800;
}

.regular h1, .regular h2, .regular h3{
  color:#ce0000;
  font-family: sans-serif;
}




/**********************
     media queries
************************/
@media screen and (min-width: 768px){
  .titleImg {
    display: block;
  }
}

@media screen and (min-width: 992px){
  .headerRow{
    width: 80%;
    margin: 2rem auto;
  }
}
